#!/bin/bash

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
#home='/home/xxxx' #katalog domowy skryptu
home=$DIR
source='/home/xxxxx' #katalog plików ¼ród³owych
fileSource='/home/xxxxxx' #katalog paczki
packName='0001pop.zip' #nazwa paczki
tmp='/tmp' #tymczasowy
dbName="dbName" #nazwa bazy
dbUser="dbUser" #nazwa uzytkownika bazy
dbPass="dbPass" #has³o do bazy
dbHost="dbHost" #adres hosta bazy
